*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
*.log
*.hprof
*.apk
*.aab
output-metadata.json
app/google-services.json
google-services.json
app/keystore.properties
app/keystore/
*.jks
*.keystore
app/release/
